header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px gray solid;
  align-items: center;
}

header img {
  width: 85px;
}

.busqueda {
  display: flex;
  align-items: center;
  height: 2rem;
  background: rgb(235 170 170);
  border-radius: 9999px;
  border: 1px;
  padding: 0.2rem;
}

.busqueda input {
  background: rgb(235 170 170);
  border-radius: 9999px;
  border: none;
  padding: 0.2rem;
  margin: 0 0 0 1rem;
  font: italic normal 400 16px Arial, Verdana, sans-serif;
}

.busqueda input:focus {
  outline: none;
}

.busqueda button {
  padding: 0.2rem;
  border: none;
  background: rgb(235 170 170);
  border-radius: 9999px;
}

nav {
  width: 65%
}

nav a {
  text-decoration: none;
  color: black;
}

nav li:hover {
  background: rgb(235 170 170);
  border-radius: 9999px;
}

nav ul {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
}

.btn-navBar,
.registro {
  padding: 1rem 1.5rem;
}

.btn.btn-primary:active:hover,
.btn.btn-primary:hover {
  background: none;
}

li>div {
  padding: 0.7rem 1rem;
}

li>div .dropdown-NavBar,
li>div .dropdown-NavBar:hover,
#dropdown-basic {
  background: none;
  color: black;
  border: none;
}

.registro {
  margin-left: auto;
}

#carrito {
  display: flex;
  align-items: center;
}

nav p {
  background-color: red;
  clip-path: circle();
  width: 2rem;
  text-align: center;
  margin: auto;

}

li .dropdown-submenu .dropdown-menu {
  left: 100%;
  right: auto;
  top: 0;
}